#memehelp.modal.fade
  .modal-header
    a.close(data-dismiss="modal") x
    h3
      img(src=bnImageUrl, style="height:25px;width:25px;")
      | &nbsp;Meme Phrase Help
  .modal-body
    p
      | By typing one of the below phrases, we can generate a meme
      | the describes your feeling about this module.
    table.table.table-striped
      thead
        tr
          th Phrase
          th Details
      tbody
        tr
          td Y U NO [text]
          td Generates the Y U NO GUY with the bottom caption of [text]
        tr
          td I don't always [something] but when i do [text]
          td Generates The Most Interesting man in the World
        tr
          td [text] ORLY?
          td Generates the ORLY? owl with the top caption of [text]
        tr
          td [text] (SUCCESS|NAILED IT)
          td Generates success kid with the top caption of [text]
        tr
          td [text] ALL the [things]
          td Generates ALL THE THINGS
        tr
          td [text] TOO DAMN [high]
          td Generates THE RENT IS TOO DAMN HIGH guy
        tr
          td Good news everyone! [news]
          td Generates Professor Farnsworth
        tr
          td Not sure if [text] or [text]
          td Generates Futurama Fry
        tr
          td Yo dawg [text] so [text]
          td Generates Yo Dawg
