.hero-unit
  h1 BeautifulNode
  p A module review site for the nodejs community
.row
  .span4
    h2 Why?
    h4
      | We wanted to build a site that lets the community comment
      | about their favorite and least favorite modules in a fun way.
    br
    h2 Interested?
    h4 If you would like to contribute just click the signup button:
    a.btn.btn-success(href="/signup") Sign Up
    br
    h2 Meme Stuff?
    h4
      | We wanted to make the reviews fun and engaging so we added the 
      | ability to leave a meme phrase, click on the info to see the
      | phrase conventions to generate your meme.

    br
    h2 Contributing?
    h4
      | This site is maintained by Tom Wilson (@twilson63)
      | but the source is open and available for contribution
      | at <a href="http://github.com">github</a>    
  .span4
    img(src="http://cdn.memegenerator.net/instances/400x/18041669.jpg", style="max-width:100%")
