h1 Login

form(method="post", action="/sessions")
  p
    label Username
      input(name="username", type="text")
  p
    label Password
      input(name="password", type="password")
  p
    button.btn.btn-primary Login