.hero-unit
  h1 
    | Top Modules
    span(style='color:green;') ->
  p Coming Soon

.row
  .span7.offset1
    p: a.btn.btn-success.btn-xlarge(href="/reviews", style="padding:10px;width:90%;font-size: 2em;") Click here to go to Reviews
.row
  .span7.offset1
    p: a.btn.btn-primary.btn-xlarge(href="/signup", style="padding:10px;width:90%;font-size: 2em;") Click here to go to Sign Up