.hero-unit
  h1 
    | Top Modules
    span(style='color:green;') ->
  p Top 100 NodeJs Modules
ul(style='list-style:none;')
  li
    .span2
      a(href="/reviews/1") Creamer
    .span2 Rating: (3 stars)
    .span2 A full Review.....
    .span1 
      a.btn.btn-primary(href='/reviews/1') View
