module.exports = 
  development:
    redis:
      host: 'localhost'
    couch:
      uri: 'http://localhost:5498'
  production:
    redis:
      host: 'localhost'
    couch:
      uri: 'http://localhost:5498'
